body {
	margin: 0;
	font-family: Helvetica;
}

.btn-like {
	height: 80px;
	width: 80px;

}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}